<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>KnockoutJS</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Demonstration of data-binding, validation and component building using KnockoutJS">
    <meta name="author" content="Paul James Millar">

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/simple-sidebar.css" rel="stylesheet" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
    <!-- wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="home">KnockoutJS</a>
                </li>
                <li>
                    <a href="components">Components</a>
                </li>
                <li>
                    <a href="bindingform">Form Binding</a>
                </li>
                <li>
                    <a href="bindinglist">List Binding</a>
                </li>
                <li>
                    <a href="crud">CRUD Operations</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">

                <div id="page" class="col-xs-12" data-bind="component: { name: route().page, params: route }">
                    @RenderBody()
                </div>

            </div>
        </div>

        <footer class="navbar navbar-fixed-bottom">
            <div class="container-fluid">
                <p> &copy; 2016 - Paul Millar</p>
            </div>
        </footer>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /wrapper -->

    <script src="app/boot/require.configure.js"></script>
    <script data-main="app/boot/startup" src="Scripts/require/require.js"></script>
</body>
</html>
