<form class="form-horizontal">
    <div class="form-group">
        <label for="inputEmail" class="col-sm-1 control-label">Email</label>
        <div class="col-sm-11">
            <input type="email" class="form-control" id="inputEmail" placeholder="Email" data-bind="value: email">
        </div>
    </div>
    <div class="form-group">
        <label for="inputPassword" class="col-sm-1 control-label">Password</label>
        <div class="col-sm-11">
            <input type="password" class="form-control" id="inputPassword" placeholder="Password" data-bind="value: password">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-1 col-sm-11">
            <div class="checkbox">
                <label>
                    <input type="checkbox"> Remember me
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-1 col-sm-11">
            <button type="submit" class="btn btn-primary" data-bind="click: signin, enable: email() !== ''">Sign in</button>
        </div>
    </div>
</form>